*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

.header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 1158px;
  flex-shrink: 0;
  padding: 0 15px;
}

.container-flex {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.navigation-logo-studio {
  color: #2e2f42;
  width: 71px;
}

.navigation-menu {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.navigation-menu-items {
  font-weight: 500;
  font-style: normal;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.navigation-menu-items:hover,
.navigation-menu-items:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  display: flex;
  margin-left: 332px;
}
.address-items {
  display: flex;
  color: #434455;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  gap: 40px;
  list-style-type: none;
}

.address-items:hover,
.address-items:focus {
  color: #404bbf;
}

.solution {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.solution-header {
  max-width: 496px;
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  margin-top: 0;
}

.order-service-button {
  background-color: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  background-color: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin: 0 auto;
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
}

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.advantages-list {
  display: flex;
  gap: 24px;
  padding: 0;
  list-style: none;
}
.advantages-items {
  width: calc((100% - 3 * 24px) / 4);
}
.advantages-items-headers {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 8px;
}
.advantages-items-p {
  max-width: 264px;
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.our-team-main-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  gap: 24px;
  padding: 0;
  list-style: none;
}
.our-team-items {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.our-team-member {
  padding: 32px 16px;
}
.our-team-headers {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.our-team-p {
  color: #434455;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-main-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style-type: none;
}
.portfolio-items {
  width: calc((100% - 2 * 24px) / 3);
}
.portfolio-items-id {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-items-headers {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 8px;
}
.portfolio-items-p {
  color: #434455;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-studio {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
